@font-face { font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype'); }
@font-face { font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.ttf') format('truetype'); }
@font-face { font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf') format('truetype'); }
@font-face { font-family: 'Roboto';
    src: url('fonts/Roboto-Black.ttf') format('truetype'); }
@font-face { font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf') format('truetype'); }

@font-face { font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype'); }
@font-face { font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.ttf') format('truetype'); }
@font-face { font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype'); }
@font-face { font-family: 'Montserrat';
    src: url('fonts/Montserrat-Black.ttf') format('truetype'); }
@font-face { font-family: 'Montserrat';
    src: url('fonts/Montserrat-Light.ttf') format('truetype'); }




body{
    background-color:#fafafa;
    padding:0;
    margin:0;
    min-height: 100vh;
    font-family: Roboto, Arial, Opens Sans;
}

h1, h2, h3, h4 {
    font-family: Montserrat, Arial, Opens Sans;
}

.navigation{
    background-color:#00701A;
    padding:15px 20vw;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
}

.home{
    height: 20px;
    overflow: hidden;
}
svg{
    max-height: 100%;
}

main{
    max-width: 60vw;
    margin-right: auto;
    margin-left: auto;
}

.search{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search input{
    padding:0;
    margin:0;
    line-height: 24px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}

.search-icon{
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.logo{
    padding-top: 5px;
    height: 40px;
}
icon-search svg{
    fill:#fff;
}